<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Voo</title>
</head>
<body>
    <h1>Adicionar Novo Voo</h1>
    <form method="post">
        Código: <input type="text" name="codigo" required><br>
        Origem: <input type="text" name="origem" required><br>
        Destino: <input type="text" name="destino" required><br>
        Preço Ida: <input type="text" name="preco_ida" required><br>
        Preço Volta: <input type="text" name="preco_volta" required><br>
        Milhas: <input type="text" name="milhas" required><br>
        Aeronave: <input type="text" name="aeronave" required><br>
        Total de Assentos: <input type="text" name="total_assentos" required><br>
        <input type="submit" value="Adicionar Voo">
    </form>
</body>
</html>