{% extends "tela_inicial/base.html" %}
{% block title %}Editar Voo{% endblock %}
{% block content %}
    <h1>Editar Voo: {{ codigo_voo }}</h1>
    <form method="post">
        <label for="codigo">Código:</label>
        <input type="text" name="codigo" id="codigo" required>

        <label for="origem">Origem:</label>
        <input type="text" name="origem" id="origem" required>

        <label for="destino">Destino:</label>
        <input type="text" name="destino" id="destino" required>

        <label for="precoIda">Preço Ida:</label>
        <input type="text" name="precoIda" id="precoIda" required>

        <label for="precoVolta">Preço Volta:</label>
        <input type="text" name="precoVolta" id="precoVolta" required>

        <label for="milhas">Milhas:</label>
        <input type="text" name="milhas" id="milhas" required>

        <label for="aeronave">Aeronave:</label>
        <input type="text" name="aeronave" id="aeronave" required>

        <label for="total_assentos">Total de Assentos:</label>
        <input type="text" name="total_assentos" id="total_assentos" required>
        
        <input type="submit" value="Salvar Alterações">
    </form>
{% endblock %}